@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    color: hsl(233, 26%, 24%);
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
}

header .btn{
    display: none;
}

main{
    overflow: hidden;
    margin-top: 12vh;
}

#mockup {
    display: none;
}

.logo {
    height: 2.5vh;
}

#more {
    height: 1.5vh;
    width: 5vw;
}

.top {
    height: 50vh;
    width: 100%;
    background-image:url('./images/image-mockups.png'), url('./images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: center -9.5vh, center;
    background-repeat: no-repeat;
}

.main {
    margin-bottom: 10vh;
    height: 45vh;
    text-align: center;
    padding: 0 3vh;
}

p {
    font-size: 0.9rem;
    margin-top: 10%;
    line-height: 1.5;
    color: hsl(233, 8%, 62%);
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 3vh;

}

.btn {
    border: 0;
    border-radius: 100px;
    padding: 2vh 4.5vh;
    color: white;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.main button {
    margin-top: 5vh;
}

.middle {
    padding: 2vh 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: hsl(0, 0%, 98%);
}

.middle h1 {
    font-size: 2rem;
}

.middle>p {
    margin-bottom: 4vh;
}

.feature {
    width: 100%;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
    margin-bottom: 3vh;
}

.feature h3 {
    font-weight: 400;
    font-size: 1.2rem;
}

.feature-img {
    width: 20%;
}

.feature p {
    margin: 0;
}

.bottom {
    padding: 2vh 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3vh;
}

.bottom h1 {
    font-size: 2rem;
    margin-bottom: 4vh;
}

.card {
    width: 90vw;
    border-radius: 7px;
    text-align: left;
    padding-bottom: 3vh;
    margin-bottom: 3vh;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    border-radius: 7px 7px 0 0;
}

figcaption {
    color: hsl(233, 8%, 62%);
    font-size: 0.7rem;
    text-align: left;
    padding: 3vh 3vh 1vh;
}

.card h4 {
    font-weight: 100;
    font-size: 1.2rem;
    padding: 0 2.5vh;
}

.card p {
    margin: 0;
    padding: 1vh 3vh;
    font-size: 0.8rem;
}

footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.5vh;
    padding: 3vh;
    fill: #fff;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 3vh;
}

.sub-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.7vh;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.7vh;
}

#socials {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#socials svg {
    height: 3.5vh;
}

#socials svg:hover {
    cursor: pointer;
    fill: hsl(136, 65%, 51%);
}

.links {
    text-align: center;
}

.links a:hover {
    cursor: pointer;
    color: hsl(136, 65%, 51%);
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    font-size: 0.9rem;
}

footer p {
    margin-top: 0;
}

.dropdown {
    position: absolute;
    justify-content: center;
    padding: 20px;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    top: 10vh;
    display: none;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 300px 39px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 300px 39px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 300px 39px rgba(0, 0, 0, 0.75);
}

.dropdown ul {
    list-style: none;
    text-align: center;
}

li {
    font-size: 1.2rem;
    padding: 1.5vh;
}

#toggle {
    display: none;
}

#toggle:checked ~ .dropdown {
    display: flex;
}


#toggle-label {
    margin-top:0.5vh;
    height: 2vh;
    width: 7vw;
    background-image: url('./images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition:0.3s ease;
}

#toggle:checked + #toggle-label {
    background-image: url('./images/icon-close.svg');
    background-repeat: no-repeat;
}

@media (min-width : 700px) {

    .dropdown{
        display: flex;
        position: static;
        padding: 0;
        margin: 0;
        width: 50%;
        box-shadow: none;
    }

    .dropdown ul li{
        display: inline;
        font-size: 0.9rem;
        color: hsl(233, 8%, 62%);
    }

    #mockup {
        display: block;
        transform: scale(0.9,0.9);
        margin-top: -5vh;
    }

    #toggle-label {
        display: none;
    }

    header .logo {
        padding-left: 5vh;
    }

    header {
        padding: 5vh;
        z-index: 20;
        align-items: center;
    }

    header .btn {
        padding: 10px 30px;
        display: block;
    }

    .first {
        display: flex;
        height: 85vh;
    }

    .top {
        order: 2;
        width: 55%;
        background:url('./images/bg-intro-desktop.svg');
        background-repeat: no-repeat;
        background-size:150%;
        background-position-x: 0;
        background-position-y:-30vh ;
        position: relative;
        z-index: 10;
        height: 100%;
    }

    .main {
        order: 1;
        width: 50%;;    
        text-align: left;
        padding: 10%;
    }

    .middle {
        position: relative;
        z-index: 1;
        padding: 10vh;
        align-items: flex-start;
        text-align: left;
    }

    .top img {        
        position: absolute;
        top: -20%;
        right: -18%;
        
    }

    .middle > p {
        margin: 5vh 0;
        padding-right: 37rem;
    }

    .features {
        display: flex;
        column-gap: 3vh;
        padding-top: 2vh;
    }

    .feature{
        align-items: start;
    }

    .feature-img {
        width: 20%;
    }

    .bottom {
        align-items: normal;
        text-align: left;
        padding: 2vh 10vh;
    }

    .cards {
        display: flex;
        justify-content: space-between;
    }

    .card{
        width: 20vw;
    }

    .card img {
        aspect-ratio: 1.5/1;
    }

    figcaption {
        font-size: 0.7rem;
    }

    .card h4 {
        font-size: 1rem;
    }

    .card p {
        font-size: 0.7rem;
    }

    footer{
        padding: 5vh;
        flex-direction: row;
        justify-content: space-between;
    }

    .container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        row-gap: 3vh;
    }
    .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.7vh;
    }
    
    #socials {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

    .links {
        columns: 2;
        text-align: left;
        line-height: 1vh;
        transform: translateX(-100%);
    }

}